*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
.header{
background-image: url(img_1.png);
position: absolute;
background-size: cover;
width: 100%;
height: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: rgb(176, 206, 233);
}
    
.logo{
    color: aliceblue;
}
  
.ul{
    text-decoration: none;
    list-style: none;
}
 .li{
    text-decoration: none;
    display: inline-block;
    padding-right:20px ;
    color: aliceblue;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.icons{
    color: aquamarine;

}
h1{
    position: absolute;
    top: 40%;
    left: 35%;
    color: white;
}
.btn{
    border: 2px solid pink;
    border-radius: 30px;
    position: absolute;
    top: 60%;
    left: 45%;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    color: aliceblue;
    background-color: aqua;
}
.btn:hover{
     background-color:rgb(214, 148, 148) ;
}
nav ul li a {
display: inline-block;
list-style: none;
margin: 0px 20px;
text-decoration: none;
color: rgb(35, 49, 32);
transition: 5s;

}
h2{
    position: absolute;
    top: 100%;
    left: 40%;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-bottom: 10px;
}
p{position: absolute;
    top: 100%;
left: 40%;
padding-top: 60px;
}



*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rep{
    position: relative;
    left: 500px;
    
}
.popp{
    display: flex;
    justify-content: space-evenly;

    }
    .bot{
        position: relative;
        left: 100px;
    }
    .con{
        display: flex;
        justify-content: space-evenly;
        right: 100px;
    }
    .tree{
        display: flex;
        background-color:rgb(0, 102, 255);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        justify-content: space-evenly;
        padding: 10px;
        margin: solid 2px;
       

    }

    
